body {
  font-size: large;
}

h2{
  text-align: center;
}

.container {
  border: 1px solid black;
  height: 200px;
  position: relative;
}

button {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.container {
  border: 1px solid black;
  height: 200px;
  position: relative;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}